<a href="https://colab.research.google.com/github/sharulms/d30-entry-/blob/main/d30task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write Python code that prints your name, student number and email address.

In [3]:
name = input("enter the name:")
student_number = "12345"
email = "name@gamil.com"

print("Name:", name)
print("Student Number:", student_number)
print("Email Address:", email)

enter the name:rahul
Name: rahul
Student Number: 12345
Email Address: name@gamil.com

2.Write Python code that prints your name, student number and email address using escape sequences.

In [5]:
print("Name: bob\nStudent Number: 5689\nEmail Address: bob@gmail.com")

Name: bob
Student Number: 5689
Email Address: bob@gmail.com

3.Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7

In [10]:
#let numbers be 14 & 7
num1 = 14
num2 = 7


add = num1+num2
print("Addition result:", add)


subtract = num1-num2
print("Subtraction result:", subtract)


multiply = num1*num2
print("Multiplication result:", multiply)


division = num1/num2
print("Division result:", division)

Addition result: 21
Subtraction result: 7
Multiplication result: 98
Division result: 2.0

4.Write Python code that displays the numbers from 1 to 5 as steps.

In [12]:
for i in range(1, 6):
    print( i)

1
2
3
4
5

5.Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:
An example runs of the program:  
"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [15]:
print("SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment")

SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment

6.Practice and check the output

In [19]:
print("python is an \"awesome\" language.")
print("python\n\t2024")
print('I\'m from Entri.\b')
print("d30")
print("\x65")
print("Entri", "2024", sep="\n")
print("Entri", "2024", sep="\b")
print("Entri", "2024", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2024
I'm from Entri.
d30
e
Entri
2024
Entri2024
Entri*2024


7.Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?
num=23
textnum="57"
decimal=98.3

In [20]:

num = 23
textnum = "57"
decimal = 98.3


print("Type of num:", type(num))
print("Type of textnum:", type(textnum))
print("Type of decimal:", type(decimal))


sum=num+int(textnum)+decimal
print("Sum of variables:", sum)

print("Datatype of sum:", type(sum))

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>
Sum of variables: 178.3
Datatype of sum: <class 'float'>

8.calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [27]:

print("This code calculates the total number of minutes in a year.")


(days_in_year) = 365
(hours_in_day) = 24
(minutes_in_hour) = 60

total_minutes_in_year = (days_in_year) * (hours_in_day) * (minutes_in_hour)

print("Number of days in a year:", days_in_year)
print("Number of hours in a day:", hours_in_day)
print("Number of minutes in an hour:", minutes_in_hour)
print("Total number of minutes in a year:", total_minutes_in_year)

This code calculates the total number of minutes in a year.
Number of days in a year: 365
Number of hours in a day: 24
Number of minutes in an hour: 60
Total number of minutes in a year: 525600

9.Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

In [35]:

name = input("Please enter your name: ")
print("Hello,", name + "\f welcome to Python programming ")

Please enter your name: Tony
Hello, Tony welcome to Python programming

10.Name your file: PoundsToDollars.py
Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)

In [38]:

pounds = float(input("Enter an amount in pounds (£): "))
convert = 1.41
dollars = pounds * convert
print("pounds entered in dollars are:", dollars)

Enter an amount in pounds (£): 100
pounds entered in dollars are: 141.0