<a href="https://colab.research.google.com/github/sharulms/d30-entry-/blob/main/D30task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.

In [5]:
def show_employee(name, salary=9000):
    print("Employee Name:", name)
    print("Employee Salary:", salary)
show_employee("Ben", 12000)
show_employee("Jessa")

Employee Name: Ben
Employee Salary: 12000
Employee Name: Jessa
Employee Salary: 9000

Exercise 2: Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [7]:
def outer_function(a, b):
    def inner_function():
        return a + b
    addition = inner_function() + 5
    return addition
result = outer_function(3, 7)
print("Result:", result)

Result: 15

3.Generate a Python list of all the even numbers between 4 to 30

In [35]:
 for x in range(4,31):
    if (x % 2 == 0):
      print(even_numbers)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

4. Lambda Function to Check if value is in a List
Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the

In [42]:
L = [1, 2, 3,4,5,6,7,8]
element = 4
result = any(map(lambda x: x == element, L))
if result:
    print("Element is Present in the list")
else:
    print("Element is NOT Present in the list")

Element is Present in the list

Exercise 5: Sort list of tuples with their sum
Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [43]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]
def sum_of_tuple(t):
    return sum(t)
sorted_points = sorted(points, key=sum_of_tuple)
print("Sorted points:", sorted_points)

Sorted points: [(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 :
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [48]:
def find_even_numbers(start=1000, end=3000):
    even_numbers = []
    for num in range(start, end + 1):
        digits = [int(d) for d in str(num)]
        if all(digit % 2 == 0 for digit in digits):
            even_numbers.append(num)
    return even_numbers
result = find_even_numbers()
print("Numbers with all even digits between 1000 and 3000:", result)

Numbers with all even digits between 1000 and 3000: [2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

7.Write a python function that accepts a sentence and calculate and return the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [49]:
def count_letters_and_digits(sentence):
    num_letters = sum(1 for char in sentence if char.isalpha())
    num_digits = sum(1 for char in sentence if char.isdigit())
    return num_letters, num_digits

input_sentence = "hello world! 123"
letters, digits = count_letters_and_digits(input_sentence)
print("LETTERS", letters)
print("DIGITS", digits)

LETTERS 10
DIGITS 3

8.Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [50]:
def convert_and_eliminate_duplicates(sequence):
    upper_case = list(map(str.upper, sequence))

    lower_case = list(map(str.lower, sequence))

    unique_characters = list(set(sequence))

    return upper_case, lower_case, unique_characters

sequence = "Hello World"
upper_case, lower_case, unique_characters = convert_and_eliminate_duplicates(sequence)

print("Uppercase:", upper_case)
print("Lowercase:", lower_case)
print("Unique characters:", unique_characters)

Uppercase: ['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']
Lowercase: ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
Unique characters: [' ', 'l', 'H', 'r', 'o', 'd', 'e', 'W']

9.Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [51]:
def element_wise_add_subtract(list1, list2):
    sum_result = list(map(lambda x, y: x + y, list1, list2))

    difference_result = list(map(lambda x, y: x - y, list1, list2))

    return sum_result, difference_result
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]

sum_result, difference_result = element_wise_add_subtract(list1, list2)

print("Element-wise addition:", sum_result)
print("Element-wise difference:", difference_result)

Element-wise addition: [6, 6, 6, 6, 6]
Element-wise difference: [-4, -2, 0, 2, 4]

10.Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

In [53]:
# Original Dictionary
students = {'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

filtered_students = dict(filter(lambda item: item[1][0] > 6 and item[1][1] > 70, students.items()))

print("Height > 6ft and Weight > 70kg:")
print(filtered_students)

Height > 6ft and Weight > 70kg:
{'Cierra Vega': (6.2, 71)}

11.Write a Python program to remove all elements from a given list present in another list using lambda.

In [54]:
# Original lists
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

list1_filtered = list(filter(lambda x: x not in list2, list1))

print("After removing elements from 'list1' present in 'list2':")
print(list1_filtered)

After removing elements from 'list1' present in 'list2':
[1, 3, 5, 7, 9, 10]

12.Write a Python program to calculate the product of a given list of numbers using lambda.

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

In [57]:

from functools import reduce

# Original list
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

product = reduce(lambda x, y: x * y, list1)

print("Product of the said list numbers:")
print(product)

Product of the said list numbers:
3628800

13.Write a Python program to multiply all the numbers in a given list using lambda.
Original list:
[4, 3, 2, 2, -1, 18]
Mmultiply all the numbers of the said list: -864

In [58]:
from functools import reduce

# Original list
original_list = [4, 3, 2, 2, -1, 18]
result = reduce(lambda x, y: x * y, original_list)
print("Multiply all the numbers of the said list:", result)

Multiply all the numbers of the said list: -864

14.Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

In [59]:
# Original Tuple
original_tuple = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

average_values = tuple(map(lambda x: sum(x) / len(x), zip(*original_tuple)))

print("Average value of the numbers of the said tuple of tuples:")
print(average_values)

Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

15.Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [61]:
# Original list
mixed_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

sorted_list = sorted(mixed_list, key=lambda x: (isinstance(x, str), x))
print("Sort the said mixed list of integers and strings:")
print(sorted_list)

Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

16.Write a Python program to count the occurrences of items in a given list using lambda.
Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [63]:
# Original list
original_list = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

occurrences = dict(map(lambda x: (x, original_list.count(x)), set(original_list)))

print("Count the occurrences of the items in the original list:")
print(occurrences)

Count the occurrences of the items in the original list:
{0: 2, 1: 1, 2: 2, 3: 4, 4: 2, 5: 3, 8: 2}

17.Write a Python program to remove None values from a given list using the lambda function.
Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [65]:

original_list = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

filtered_list = list(filter(lambda x: x is not None, original_list))

print("Remove None value from the said list:")
print(filtered_list)

Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]