<a href="https://colab.research.google.com/github/sharulms/d30-entry-/blob/main/task7ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NumPy

1. How to extract all odd numbers from arr?

In [1]:
def extract_odd_numbers(arr):
    odd_numbers = [num for num in arr if num % 2 != 0]
    return odd_numbers

arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = extract_odd_numbers(arr)
print(odd_numbers)

[1, 3, 5, 7, 9]

2. Replace all odd numbers in arr with -1 without changing

In [2]:
def replace_odd_numbers(arr):
    new_arr = [-1 if num % 2 != 0 else num for num in arr]
    return new_arr

arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_arr = replace_odd_numbers(arr)
print("Original array:", arr)
print("New array with odd numbers replaced:", new_arr)

Original array: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New array with odd numbers replaced: [-1, 2, -1, 4, -1, 6, -1, 8, -1, 10]

3. Convert a 1D array to a 2D array with 2 rows

In [3]:
import numpy as np

def convert_to_2d_array(arr):

    if len(arr) % 2 != 0:
        raise ValueError("The length of the array must be even to split it into 2 rows.")


    new_arr = np.reshape(arr, (2, -1))
    return new_arr

arr = [1, 2, 3, 4, 5, 6]
new_arr = convert_to_2d_array(arr)
print("Original array:", arr)
print("2D array with 2 rows:\n", new_arr)

Original array: [1, 2, 3, 4, 5, 6]
2D array with 2 rows:
 [[1 2 3]
 [4 5 6]]

4. Stack arrays a and b vertically

In [4]:
import numpy as np

def stack_vertically(a, b):
    return np.vstack((a, b))

a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
result = stack_vertically(a, b)
print("Array a:", a)
print("Array b:", b)
print("Stacked array:\n", result)

Array a: [1 2 3]
Array b: [4 5 6]
Stacked array:
 [[1 2 3]
 [4 5 6]]

5. Stack the arrays a and b horizontally.

In [5]:
import numpy as np

def stack_horizontally(a, b):
    return np.hstack((a, b))


a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
result = stack_horizontally(a, b)
print("Array a:", a)
print("Array b:", b)
print("Stacked array:\n", result)

Array a: [1 2 3]
Array b: [4 5 6]
Stacked array:
 [1 2 3 4 5 6]

6.How to get the common items between two python numpy arrays?

In [6]:
import numpy as np

def find_common_items(a, b):
    return np.intersect1d(a, b)


a = np.array([1, 2, 3, 4, 5])
b = np.array([4, 5, 6, 7, 8])
common_items = find_common_items(a, b)
print("Array a:", a)
print("Array b:", b)
print("Common items:", common_items)

Array a: [1 2 3 4 5]
Array b: [4 5 6 7 8]
Common items: [4 5]

7.How to remove from one array those items that exist in another?

In [7]:
import numpy as np

def remove_items(arr1, arr2):
    return np.setdiff1d(arr1, arr2)

arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([3, 4, 5, 6, 7])
result = remove_items(arr1, arr2)
print("Array 1:", arr1)
print("Array 2:", arr2)
print("Array 1 after removing items present in Array 2:", result)

Array 1: [1 2 3 4 5]
Array 2: [3 4 5 6 7]
Array 1 after removing items present in Array 2: [1 2]

8. How to get the positions where elements of two arrays match?

In [8]:
import numpy as np

def get_matching_positions(arr1, arr2):

    if arr1.shape != arr2.shape:
        raise ValueError("Both arrays must have the same shape.")

    return np.where(arr1 == arr2)

arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([5, 2, 3, 0, 5])
matching_positions = get_matching_positions(arr1, arr2)
print("Array 1:", arr1)
print("Array 2:", arr2)
print("Matching positions:", matching_positions)

Array 1: [1 2 3 4 5]
Array 2: [5 2 3 0 5]
Matching positions: (array([1, 2, 4]),)

9.How to extract all numbers between a given range from a numpy array?

In [9]:
import numpy as np

def extract_numbers_in_range(arr, min_value, max_value):
    return arr[(arr >= min_value) & (arr <= max_value)]

arr = np.array([1, 3, 5, 7, 9, 11, 13, 15])
min_value = 5
max_value = 12
result = extract_numbers_in_range(arr, min_value, max_value)
print("Original array:", arr)
print(f"Numbers between {min_value} and {max_value}:", result)

Original array: [ 1  3  5  7  9 11 13 15]
Numbers between 5 and 12: [ 5  7  9 11]

Pandas

1. Write a Pandas program to convert a dictionary to a Pandas series.

In [10]:
import pandas as pd

def convert_dict_to_series(data):
    return pd.Series(data)

data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
series = convert_dict_to_series(data)
print("Dictionary:", data)
print("Pandas Series:\n", series)

Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Pandas Series:
 a    1
b    2
c    3
d    4
dtype: int64

2. Write a Pandas program to convert a NumPy array to a Pandas series.

In [11]:
import numpy as np
import pandas as pd

def convert_array_to_series(array):
    return pd.Series(array)

array = np.array([10, 20, 30, 40, 50])
series = convert_array_to_series(array)
print("NumPy Array:", array)
print("Pandas Series:\n", series)

NumPy Array: [10 20 30 40 50]
Pandas Series:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

3. Write a Pandas program to change the data type of given a column or a Series.

In [12]:
import pandas as pd

def change_series_dtype(series, dtype):
    return series.astype(dtype)

data = pd.Series([1, 2, 3, 4, 5])
print("Original Series:")
print(data)
print("Data type before conversion:", data.dtype)

converted_series = change_series_dtype(data, float)
print("\nConverted Series:")
print(converted_series)
print("Data type after conversion:", converted_series.dtype)

Original Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Data type before conversion: int64

Converted Series:
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
Data type after conversion: float64

4. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [13]:
import pandas as pd

def convert_first_column_to_series(df):
    # Select the first column by index and convert it to a Series
    return df.iloc[:, 0]

data = {
    'A': [10, 20, 30, 40],
    'B': [50, 60, 70, 80],
    'C': [90, 100, 110, 120]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

first_column_series = convert_first_column_to_series(df)
print("\nFirst column as a Series:")
print(first_column_series)

Original DataFrame:
    A   B    C
0  10  50   90
1  20  60  100
2  30  70  110
3  40  80  120

First column as a Series:
0    10
1    20
2    30
3    40
Name: A, dtype: int64

5. Write a Pandas program to convert a given Series to an array.

In [14]:
import pandas as pd

def series_to_array(series):
    return series.values

data = pd.Series([10, 20, 30, 40])
array = series_to_array(data)
print("Original Series:")
print(data)
print("\nConverted Array:")
print(array)

Original Series:
0    10
1    20
2    30
3    40
dtype: int64

Converted Array:
[10 20 30 40]

6 Write a Pandas program to convert Series of lists to one Series.

In [15]:
import pandas as pd

def convert_series_of_lists(series):
    return series.explode()


data = pd.Series([[1, 2, 3], [4, 5], [6, 7, 8]])
flattened_series = convert_series_of_lists(data)
print("Original Series:")
print(data)
print("\nFlattened Series:")
print(flattened_series)

Original Series:
0    [1, 2, 3]
1       [4, 5]
2    [6, 7, 8]
dtype: object

Flattened Series:
0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
dtype: object

7.Write a Pandas program to sort a given Series.

In [16]:
import pandas as pd

def sort_series(series, ascending=True):
    return series.sort_values(ascending=ascending).reset_index(drop=True)

data = pd.Series([5, 3, 8, 1, 9])
sorted_series = sort_series(data, ascending=True)
print("Original Series:")
print(data)
print("\nSorted Series (Ascending):")
print(sorted_series)

sorted_series_desc = sort_series(data, ascending=False)
print("\nSorted Series (Descending):")
print(sorted_series_desc)

Original Series:
0    5
1    3
2    8
3    1
4    9
dtype: int64

Sorted Series (Ascending):
0    1
1    3
2    5
3    8
4    9
dtype: int64

Sorted Series (Descending):
0    9
1    8
2    5
3    3
4    1
dtype: int64

Panda data frame

1.Write a Pandas program to create a dataframe from a dictionary and display it.

In [17]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}


df = pd.DataFrame(data)

print("DataFrame created from dictionary:")
print(df)

DataFrame created from dictionary:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [20]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


print("DataFrame created from dictionary with index labels:")
print(df)

DataFrame created from dictionary with index labels:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

3. Write a Pandas program to get the first 3 rows of a given DataFrame.

In [21]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


first_3_rows = df.head(3)

print("First 3 rows of the DataFrame:")
print(first_3_rows)

First 3 rows of the DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

4.Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [22]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)

selected_columns = df[['name', 'score']]

print("Selected 'name' and 'score' columns:")
print(selected_columns)

Selected 'name' and 'score' columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

5. Write a Pandas program to select the specified columns and rows from a given data frame.

In [23]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


rows_to_select = ['b', 'd', 'f', 'g']


selected_data = df.loc[rows_to_select, ['name', 'score']]


print("Selected 'name' and 'score' columns for rows 1, 3, 5, 6:")
print(selected_data)

Selected 'name' and 'score' columns for rows 1, 3, 5, 6:
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

6. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [24]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

filtered_df = df[df['attempts'] > 2]


print("Rows where the number of attempts is greater than 2:")
print(filtered_df)

Rows where the number of attempts is greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes


7. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [25]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


missing_score_df = df[df['score'].isna()]


print("Rows where the score is missing (NaN):")
print(missing_score_df)

Rows where the score is missing (NaN):
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

8. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [26]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


filtered_df = df[(df['score'] >= 15) & (df['score'] <= 20)]


print("Rows where the score is between 15 and 20 (inclusive):")
print(filtered_df)

Rows where the score is between 15 and 20 (inclusive):
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

9. Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [28]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


filtered_df = df[(df['attempts'] < 2) & (df['score'] > 15)]


print("Rows where the number of attempts is less than 2 and the score is greater than 15:")
print(filtered_df)

Rows where the number of attempts is less than 2 and the score is greater than 15:
    name  score  attempts qualify
j  Jonas   19.0         1     yes

10. Write a Pandas program to change the score in row 'd' to 11.5.

In [29]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


filtered_df = df[(df['attempts'] < 2) & (df['score'] > 15)]


print("Rows where the number of attempts is less than 2 and the score is greater than 15:")
print(filtered_df)

Rows where the number of attempts is less than 2 and the score is greater than 15:
    name  score  attempts qualify
j  Jonas   19.0         1     yes

11. Write a Pandas program to calculate the sum of the examination attempts by the students.

In [30]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)

total_attempts = df['attempts'].sum()


print("Sum of the examination attempts by the students:")
print(total_attempts)

Sum of the examination attempts by the students:
19

12. Write a Pandas program to calculate the mean of all students' scores. Data is stored in a dataframe.

In [31]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


mean_score = df['score'].mean()

print("Mean of all students' scores:")
print(mean_score)

Mean of all students' scores:
13.5625

13. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [32]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)

df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

print("DataFrame with 'qualify' column updated:")
print(df)

DataFrame with 'qualify' column updated:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

14. Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.

In [33]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


df['name'] = df['name'].replace('James', 'Suresh')


print("DataFrame with 'James' changed to 'Suresh':")
print(df)

DataFrame with 'James' changed to 'Suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

15. Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [34]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


df = df.drop('attempts', axis=1)

print("DataFrame with 'attempts' column deleted:")
print(df)

DataFrame with 'attempts' column deleted:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

16. Write a Pandas program to insert a new column in existing DataFrame.

In [35]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


df['pass_status'] = df['score'] >= 10


print("DataFrame with new 'pass_status' column inserted:")
print(df)

DataFrame with new 'pass_status' column inserted:
        name  score  attempts qualify  pass_status
a  Anastasia   12.5         1     yes         True
b       Dima    9.0         3      no        False
c  Katherine   16.5         2     yes         True
d      James    NaN         3      no        False
e      Emily    9.0         2      no        False
f    Michael   20.0         3     yes         True
g    Matthew   14.5         1     yes         True
h      Laura    NaN         1      no        False
i      Kevin    8.0         2      no        False
j      Jonas   19.0         1     yes         True

17. Write a Pandas program to rename columns of a given DataFrame

In [36]:
import pandas as pd

df = pd.DataFrame({
    'col1': [1, 2, 3],
    'col2': [4, 5, 6],
    'col3': [7, 8, 9]
})

df_renamed = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})

print("New DataFrame after renaming columns using .rename():")
print(df_renamed)

New DataFrame after renaming columns using .rename():
   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

18. Write a Pandas program to select rows from a given DataFrame based on values in some columns.

In [37]:
import pandas as pd


df = pd.DataFrame({
    'col1': [1, 4, 3, 4, 5],
    'col2': [4, 5, 6, 7, 8],
    'col3': [7, 8, 9, 0, 1]
})

filtered_df = df[df['col1'] == 4]


print("Rows where 'col1' value is 4:")
print(filtered_df)

Rows where 'col1' value is 4:
   col1  col2  col3
1     4     5     8
3     4     7     0

19. Write a Pandas program to add one row in an existing DataFrame.

In [38]:
import pandas as pd

# Original DataFrame
df = pd.DataFrame({
    'col1': [1, 4, 3, 4, 5],
    'col2': [4, 5, 6, 7, 8],
    'col3': [7, 8, 9, 0, 1]
})

# New row to be added
new_row = pd.DataFrame({'col1': [10], 'col2': [11], 'col3': [12]})

# Add the new row to the existing DataFrame
df_updated = pd.concat([df, new_row], ignore_index=True)

# Display the updated DataFrame
print("DataFrame after adding one row:")
print(df_updated)

DataFrame after adding one row:
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
5    10    11    12

20. Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.

In [39]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'score': [12.5, 9.0, 16.5, np.nan, 9.0, 20.0, 14.5, np.nan, 8.0, 19.0]
})

df['score'] = df['score'].fillna(0)

print("DataFrame after replacing NaN with 0 in 'score' column:")
print(df)

DataFrame after replacing NaN with 0 in 'score' column:
   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    0.0
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    0.0
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0

21. Write a Pandas program to count the NaN values in one or more columns in DataFrame.

In [41]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'score': [12.5, 9.0, 16.5, np.nan, 9.0, 20.0, 14.5, np.nan, 8.0, 19.0]
})


nan_count = df.isna().sum()

print("Number of NaN values in each column:")
print(nan_count)

Number of NaN values in each column:
attempts    0
name        0
qualify     0
score       2
dtype: int64

22. Write a Pandas program to drop a list of rows from a specified DataFrame.

In [42]:
import pandas as pd


df = pd.DataFrame({
    'col1': [1, 4, 3, 4, 5],
    'col2': [4, 5, 6, 7, 8],
    'col3': [7, 8, 9, 0, 1]
})


df_dropped = df.drop([1, 3])

print("DataFrame after removing 2nd & 4th rows:")
print(df_dropped)

DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
2     3     6     9
4     5     8     1

23. Write a Pandas program to convert DataFrame column type from string to datetime.

In [43]:
import pandas as pd

df = pd.DataFrame({
    0: ['3/11/2000', '3/12/2000', '3/13/2000']
})


df[0] = pd.to_datetime(df[0], format='%m/%d/%Y')


print("Original DataFrame (string to datetime):")
print(df)

Original DataFrame (string to datetime):
           0
0 2000-03-11
1 2000-03-12
2 2000-03-13

24. Write a Pandas program to find the row for where the value of a given column is maximum.

In [44]:
import pandas as pd


df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7],
    'col2': [4, 5, 6, 9, 5],
    'col3': [7, 8, 12, 1, 11]
})


max_col1_idx = df['col1'].idxmax()


max_col2_idx = df['col2'].idxmax()


max_col3_idx = df['col3'].idxmax()


print("Original DataFrame:")
print(df)
print("\nRow where col1 has maximum value:")
print(max_col1_idx)
print("\nRow where col2 has maximum value:")
print(max_col2_idx)
print("\nRow where col3 has maximum value:")
print(max_col3_idx)

Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Row where col1 has maximum value:
4

Row where col2 has maximum value:
3

Row where col3 has maximum value:
2

25. Write a Pandas program to get the datatypes of columns of a DataFrame.

In [45]:
import pandas as pd
import numpy as np


df = pd.DataFrame({
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'score': [12.5, 9.0, 16.5, np.nan, 9.0, 20.0, 14.5, np.nan, 8.0, 19.0]
})

print("Original DataFrame:")
print(df)


print("\nData types of the columns of the said DataFrame:")
print(df.dtypes)

Original DataFrame:
   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0

Data types of the columns of the said DataFrame:
attempts      int64
name         object
qualify      object
score       float64
dtype: object

26. Write a Pandas program to group by the first column and get second column as lists in rows.

In [46]:
import pandas as pd


df = pd.DataFrame({
    'col1': ['C1', 'C1', 'C2', 'C2', 'C2', 'C3', 'C2'],
    'col2': [1, 2, 3, 3, 4, 6, 5]
})

print("Original DataFrame:")
print(df)


grouped_df = df.groupby('col1')['col2'].apply(list)

print("\nGroup on the col1:")
print(grouped_df)

Original DataFrame:
  col1  col2
0   C1     1
1   C1     2
2   C2     3
3   C2     3
4   C2     4
5   C3     6
6   C2     5

Group on the col1:
col1
C1          [1, 2]
C2    [3, 3, 4, 5]
C3             [6]
Name: col2, dtype: object

27 Write a Pandas program to count number of columns of a DataFrame.

In [47]:
import pandas as pd

df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7],
    'col2': [4, 5, 6, 9, 5],
    'col3': [7, 8, 12, 1, 11]
})


print("Original DataFrame:")
print(df)


num_columns = df.shape[1]


print("\nNumber of columns:")
print(num_columns)

Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Number of columns:
3

28. Write a Pandas program to get first n records of a DataFrame.

In [48]:
import pandas as pd

df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

print("Original DataFrame:")
print(df)

first_n_rows = df.head(3)

print("\nFirst 3 rows of the said DataFrame:")
print(first_n_rows)

Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

First 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

29. Write a Pandas program to get last n records of a DataFrame.

In [49]:
import pandas as pd


df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})


print("Original DataFrame:")
print(df)


last_n_rows = df.tail(3)


print("\nLast 3 rows of the said DataFrame:")
print(last_n_rows)

Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

Last 3 rows of the said DataFrame:
   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

30. Write a Pandas program to get topmost n records within each group of a DataFrame.

In [50]:
import pandas as pd


df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

df['group'] = ['A', 'A', 'B', 'B', 'C', 'C']


print("Original DataFrame:")
print(df)


top_n_records = df.groupby('group').head(2)


print("\nTop 2 records within each group of a DataFrame:")
print(top_n_records)

Original DataFrame:
   col1  col2  col3 group
0     1     4     7     A
1     2     5     5     A
2     3     6     8     B
3     4     9    12     B
4     7     5     1     C
5    11     0    11     C

Top 2 records within each group of a DataFrame:
   col1  col2  col3 group
0     1     4     7     A
1     2     5     5     A
2     3     6     8     B
3     4     9    12     B
4     7     5     1     C
5    11     0    11     C

31. Write a Pandas program to add a prefix or suffix to all columns of a given DataFrame.

In [51]:
import pandas as pd

df = pd.DataFrame({
    'W': [68, 75, 86, 80, 66],
    'X': [78, 85, 96, 80, 86],
    'Y': [84, 94, 89, 83, 86],
    'Z': [86, 97, 96, 72, 83]
})

print("Original DataFrame:")
print(df)


df_prefix = df.add_prefix('A_')
print("\nAdd prefix:")
print(df_prefix)


df_suffix = df.add_suffix('_1')
print("\nAdd suffix:")
print(df_suffix)

Original DataFrame:
    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

Add prefix:
   A_W  A_X  A_Y  A_Z
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

Add suffix:
   W_1  X_1  Y_1  Z_1
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

32. Write a Pandas program to convert continuous values of a column in a given DataFrame to categorical.

In [52]:
import pandas as pd


df = pd.DataFrame({
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Syed Wharton', 'Kierra Gentry'],
    'age': [18, 22, 85, 50, 80, 5]
})

bins = [0, 12, 60, 100]  # Age ranges: 0-12 (kids), 13-60 (adult), 61-100 (elderly)
labels = ['kids', 'adult', 'elderly']

df['age_groups'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

print("Age group:")
print(df['age_groups'])

Age group:
0      adult
1      adult
2    elderly
3      adult
4    elderly
5       kids
Name: age_groups, dtype: category
Categories (3, object): ['kids' < 'adult' < 'elderly']

33. Write a Pandas program to append rows to an existing DataFrame and display the combined data.

In [53]:
import pandas as pd


student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

new_row = pd.DataFrame({
    'student_id': ['S6'],
    'name': ['Scarlette Fisher'],
    'marks': [205]
})

combined_data = pd.concat([student_data1, new_row], ignore_index=True)


print("Combined DataFrame:")
print(combined_data)

Combined DataFrame:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

34. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

In [54]:
import pandas as pd


student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

exam_data = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})


combined_students = pd.concat([student_data1, student_data2], ignore_index=True)


merged_data = pd.merge(combined_students, exam_data, on='student_id', how='left')


print("Combined Student Data:")
print(combined_students)
print("\nMerged Data with Exam Data:")
print(merged_data)

Combined Student Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

Merged Data with Exam Data:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200     23.0
1         S2      Ryder Storey    210     45.0
2         S3      Bryce Jensen    190     12.0
3         S4         Ed Bernal    222     67.0
4         S5       Kwame Morin    199     21.0
5         S4  Scarlette Fisher    201     67.0
6         S5  Carla Williamson    200     21.0
7         S6       Dante Morse    198      NaN
8         S7    Kaiser William    219     55.0
9         S8   Madeeha Preston    201     33.0